<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/styles/registration-style.css">
</head>
<title>Registration</title>
<body>
<div class="form-container">
    <h1>Register</h1>
    <form th:action="@{/users}" th:object="${user}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:field="*{username}">
        <span th:if="${#fields.hasErrors('username')}" class="error">Username</span>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}">
        <span th:if="${#fields.hasErrors('email')}" class="error">Email</span>

        <label for="rawPassword">Password:</label>
        <input type="password" id="rawPassword" name="rawPassword">
<!--        <span th:if="${#fields.hasErrors('password')}" class="error">Password</span>-->

        <label for="role">Role:</label>
        <select id="role" name="role" th:field="*{role}">
            <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
        </select>

        <button type="submit">Register</button>
    </form>

</div>
</body>
</html>
