<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
    <link rel="stylesheet" href="/styles/film.css">
</head>
<body>
<div th:insert="~{fragments/fragment :: header}"></div>
<div class="film-container">
    <div class="film-actors">
        <span>Actors: </span>
        <p th:each="actor : ${film.getActors()}" th:text="${ actor.fullName}">Actor: ${actor.fullName}</p>
    </div>
</div>
<div class="film-container">
    <div class="review"><br>
        <span>Reviews: </span>
        <p th:each="review : ${film.reviews}">
            <span th:text="${review.createdBy}"></span><br/>
            <span th:text="${review.text}"></span><br/>
            <span th:text="${review.evaluation}"></span><br/>
            <span th:text="${review.createdAt}"></span><br/>
        </p>
    </div><br>
    <div class="review">
        <form th:action="@{/films/create-review/{filmId}(filmId = ${film.id})}" method="post">
            <button type="submit" class="review-btn">Create review</button>
        </form>
    </div><br>
</div>
<div class="container">
    <div class="header">
        <a th:href="@{'/films'}" class="back-link">&#8592; Back</a>
        <h1>Film Information</h1>
    </div>
    <h2>Refactor film</h2>
    <form th:action="@{/films/{filmId}/update(filmId = ${film.id})}" enctype="multipart/form-data" th:object="${film}"
          method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:value="*{name}">
        </div>
        <div class="form-group">
            <label for="releaseDate">Release Date:</label>
            <input type="date" id="releaseDate" name="releaseDate" th:value="*{releaseDate}">
        </div>
        <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" th:value="*{country}">
        </div>
        <div class="form-group">
            <label for="genre">Genre:</label>
            <select id="genre" name="genre" th:value="*{genre}">
                <option th:each="genre : ${genres}" th:value="${genre}"
                        th:text="${genre}" th:selected="${genre == film.genre}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="trailer">Trailer URL:</label>
            <input type="url" id="trailer" name="trailer" th:value="*{trailer}">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" th:text="*{description}"></textarea>
        </div>
        <div>
            <label for="directors">Director:
                <select id="directors" name="directorId">
                    <option th:each="director : ${directors}"
                            th:value="${director.id}"
                            th:selected="${director.id == film.director.id}"
                            th:text="${director.fullName}">Director
                    </option>
                </select>
            </label>
        </div>
        <div th:if="${film.image}">
            <img width="200" height="200" th:src="@{/api/v1/films/{filmId}/avatar(filmId = ${film.id})}"
                 alt="Film image">
        </div>
        <label for="image">Image
            <input id="image" type="file" name="image">
        </label>
        <button type="submit" class="btn">Update</button>
    </form>
</div>
</body>
</html>