<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Directors</title>
    <link rel="stylesheet" href="/styles/directors-style.css">
</head>
<body>
<div class="header">
    <a th:href="@{'/directors/create-director'}" class="btn btn-secondary">&#8592; Create director</a>
    <h1>Directors:</h1>
</div>
<div th:each="director : ${directors}">
    <div class="form-group">
        <a th:href="@{'/directors/'+ ${director.id}}" th:text="${director.fullName}">Director</a>
    </div>
</div>
</body>
</html>